<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jadoo_dsp"
        android:roundIcon="@mipmap/ic_jadoo_dsp"
        android:label="JadOO DSP"
        android:supportsRtl="true"
        tools:targetApi="36">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JadOOamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".audio.JadooDspService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <receiver android:name=".audio.AudioEffectReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.audiofx.action.OPEN_AUDIO_EFFECT_CONTROL_SESSION" />
                <action android:name="android.media.audiofx.action.CLOSE_AUDIO_EFFECT_CONTROL_SESSION" />
            </intent-filter>
        </receiver>

        </application>

</manifest>
